[submodule ".registry"]
	path = .registry
	url = https://github.com/crow16384/crow16384.r-universe.dev
	branch = HEAD
[submodule "ksTFL"]
	path = ksTFL
	url = https://github.com/crow16384/ksTFL
[submodule "ksformat"]
	path = ksformat
	url = https://github.com/crow16384/ksformat
